.container {
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}
/*
.header-nav-container_item {
  flex-direction: row;
}*/

.content {
  height: inherit;
}

.header-nav {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ol {
  display: flex;
  align-items: center;
  height: inherit;
}

.header a {
  height: inherit;
}
