/*276678 -> azul oscuro 
1687a7 -> azul 
d3e0ea -> azul claro
f6f5f5 -> Color mas claro*/

:root {
  --dark-Blue: #276678;
  --Blue: #1687a7;
  --soft-Blue: #d3e0ea;
  --clear-Color: #f6f5f5;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 62.5%;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol a,
ul a {
  text-decoration: none;
}
/*
.container {
  background-color: var(--clear-Color);
}*/

.header {
  height: 12rem;
  background-color: var(--clear-Color);
  display: flex;
  justify-content: space-between;
}

.header-nav {
  height: inherit;
}

.header-nav-container li {
  padding-left: 1rem;
}

.header {
  font-size: 2rem;
}

.header-icon {
  height: inherit;
}
.header-icon_img {
  height: 9rem;
  padding-right: 1rem;
}
